html{
  height: 100%;

}
body{
  /* background: #630acf; */
  background-image: linear-gradient(to bottom right,#43cea2, #185a9d);
  width: 100%;
  height: 100%;
}
.card{
  box-shadow: 20px 20px 30px rgba(50, 50, 50, 0.4);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.mainWindow{
  width: 100%;
  height: 100%;
  font-family: 'Comic Neue', cursive;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingScreen.card{
  height: 50%;
  width: 50%;
  border-radius: 20px;
  background: white;
}
.loadingScreen.card button{
  align-self: stretch;
}
.roomId{
  font-weight: bold;
  text-align: center;
}
#loadingMsg{
  font-size: 20px;
  text-align: center;
  color: #444;
}
.spin{
  flex:1;
  transform: translate3d(50%, 50%, 0)
}

.details{
  margin: 20px;
  font-size: 2vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#turn{
  font-size: 2.5vw;
}
.mainGame{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game.card{
  background: rgba(255, 255, 255, 0.5);
   margin-bottom: 30px;
   border-radius: 30px;
   height: 30vw;
   width: 30vw;
   display: flex;
   align-items: stretch;
   justify-content: space-around;
}
.gameRow{
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gameCol{
  width: 100%;
  height: 100%;
  box-shadow: inset 2px 2px 8px rgba(50, 50, 50, 0.7);
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  background: white;
  font-size: 5vw;
  text-align: center;
  vertical-align: text-bottom;
  display: flex;
}
.gameColText{
  margin: auto;
  font-family: 'Arial';
}


@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 0.75s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 3px rgba(50, 50, 50, 0.5);
  border-bottom-color: powderblue;
  border-radius: 50%;
  content: "";
  height: 75px;
  width: 75px;
  position: absolute;
  /* top: 10%;
  left: 10%; */
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

@media only screen and (max-width: 768px) {
  .details{
    font-size: 5vw;
  }
  #turn{
    font-size: 7vw;
  }
  .loadingScreen.card{
    width: 75%;
  }
  .game.card{
     height: 80vw;
     width: 80vw;
  }
  .gameCol{
    font-size: 8vw;
  }
}
@media only screen and (max-height: 600px) {
  .loadingScreen.card{
    height: 350px;
  }
  .game.card{
     height: 80vw;
     width: 80vw;
  }
}
